cks-collapse {
	display: block;
}

	cks-collapse > div:nth-of-type(1) button {
		display: flex !important;
		align-items: center;
		padding: 0px !important;
	}

	cks-collapse > div:nth-of-type(1) .icon {
		width: 24pt;
		height: 24pt;
	}

		cks-collapse > div:nth-of-type(1) .icon > path:nth-of-type(2) {
			fill: gray;
		}

	cks-collapse > div:nth-of-type(1) .btn-link,
	cks-collapse > div:nth-of-type(1) .btn-link:active,
	cks-collapse > div:nth-of-type(1) .btn-link:visited,
	cks-collapse > div:nth-of-type(1) .btn-link:hover {
		text-decoration-style: none !important;
		text-decoration: none !important;
		color: gray;
	}

	cks-Collapse .card-header {
		border-bottom: solid 1pt gainsboro;
	}
